:host ::ng-deep .mat-dialog-container {
  border-radius: 22px !important;
  background: #fff !important;
  min-width: 340px;
  max-width: 370px;
  padding: 32px 28px 24px 28px !important;
  box-shadow: 0 2px 18px rgba(60,60,73,0.10);
}
mat-dialog-content {
  padding: 0 !important;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.mat-form-field {
  width: 100%;
  background: transparent !important;
}
.mat-checkbox {
  margin-left: 2px;
}
mat-dialog-actions {
  margin-top: 14px;
  padding: 0 !important;
}
button[type='submit'] {
  font-weight: 600;
  border-radius: 20px !important;
  min-width: 120px;
  padding: 9px 28px !important;
}
